<section class="showcase-wrapper">

  <div class="slider-container">
    <h3 class="slider-title">Mira cómo funciona</h3>

    <swiper-container
      slides-per-view="1"
      space-between="10"
      pagination="true"
      pagination-clickable="true"
      autoplay-delay="3000"
      allow-touch-move="true"
      autoplay-disable-on-interaction="false">

      @for (foto of fotosProducto; track foto; let i = $index) {
        <swiper-slide
          (click)="openImage(i)"
          class="clickable">
          <img [src]="foto" alt="Muestra del producto">
        </swiper-slide>
      }

    </swiper-container>
  </div>

  @if (isLightboxOpen) {
    <div
      class="lightbox-overlay"
      (click)="closeImage()"> <button class="lightbox-close" (click)="closeImage()">&times;</button>

      <swiper-container
        class="lightbox-swiper"
        (click)="$event.stopPropagation()" initial-slide="{{initialSlideIndex}}"
        navigation="true"
        pagination="true"
        pagination-clickable="true"
        allow-touch-move="true">
        @for (foto of fotosProducto; track foto) {
          <swiper-slide>
            <div class="lightbox-slide-content">
              <img [src]="foto" alt="Vista ampliada" class="lightbox-image">
            </div>
          </swiper-slide>
        }

      </swiper-container>

    </div>
  }

</section>
